.root {
	-fx-background-color: #f4f4f4;
	-fx-font-family: 'Malgun Gothic';
	-fx-font-size: 12px;
	-fx-contol-inner-background: white;
	-fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-light-text-color: white;
    -fx-accent: #fce9c0;
    -fx-focus-color: lightgray;
    -fx-color: -fx-base;
    -fx-disabled-opacity: 0.4;
    
/* 기존 진한 분홍 -col-accent: #fea39a; */
	/* -col-accent: #fff1f0;     */
	-col-accent: #ffd0cc;
	-col-accent-border: #ffbcb5;
    -col-accent-30: rgba(254,163,154,0.4);
    
    /*-
    #F6695F #ff8c84
    -*/
}


/* Button ------------------------------------------------------ */

.button, 
.toggle-button{	
	-fx-background-radius: 0 0 0 0, 0 0 0 0;
}
.combo-box.blue > .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
}

.combo-box.blue > .combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background: -fx-control-inner-background;
    -fx-text-fill: blue;
}


/*
.combo-box.blue > .cell {
    -fx-text-fill: blue;
}

.combo-box-base.blue {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; 
    -fx-text-fill: blue;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
*/
